/* */
form{
  display: flex;
  flex-direction: column;
}

input{
  border: 1px solid #e5e7eb;
}

.passwords input:invalid{
  background-color: transparent;
  outline: none;
  border: 1px solid red;
}

input:focus{
  background-color:transparent;
  outline: none;
  border: 1px solid blue;
}



.names, .contacts, .passwords{
  display: flex;
  flex-direction: row;

}

.first-name, .email, .pwd{
  margin-right: 150px;
}

.first-name, .last-name, .email, .phoneNum,
.pwd, .cfpwd{
  display: flex;
  flex-direction: column;
}

button#createAcc{
  background-color: #596D48;
  color: white;
}

a{
  text-decoration: none;
  color: #596D48;
}


